<body>
  <div class="container about">
    <div class="col-12 justify-content-center text-center">
      <h1>About <span id="project_name3"></span></h1>
    </div>
    <br>
    <div class="col-12 justify-content-center">
      <p class="lead" id="project_about"></p>
    </div>
  </div>
  <p>
    This is the transportation bus/van rential service offered by Point Park University.
    ** THIS IS STILL A WORK IN PROGRESS **  
  </p>
  
  <footer class="footer">
    <div class="container">
      <span class="text-muted">footer.</span>
    </div>
  </footer>
</body>
