{{#if login}}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src='calendar/lib/moment.min.js'></script>
  <script src='calendar/lib/jquery.min.js'></script>
  <script src='calendar/fullcalendar.min.js'></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<style>
body {
  background: url("img/ppu1.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
}
.box{
  /* margin-top:10px; */
        /* background-color: #fff; */
  background: rgba(13,13,13,.0);
  background: transparant;
  padding-top: 15px;
  height: 93vh;
  overflow-y:hidden;
  }
.glass{
  border: 1px solid black;
  background: rgba(0,0,0,.7);
  box-shadow: 0px 10px 50px black;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #07b048;
}

.calendar{
  /* border: 1px solid red; */
  height: 650px;
  overflow-y:hidden;
}

        .m_box{
          height: 90vh;
          /* overflow: scroll; */

        }

        .cal_box{
          height: 600px;
          overflow-y: hidden;
        }
        
        .right{
          overflow-y: scroll;
          height: 40vh;
        }

        h3{
             border-radius: 25px;
             /* background-color: #07b048; */
             background-color: #fff;
             padding: 0.1em;
             color: #07b048;
             border:1px solid white;
             margin-top:10px;
        }

        .req_btn, .new_user_btn{
          border-radius: 25px;
          margin-left: 5px;
          color: white;
          cursor: pointer;
        }

        .test{
             border: 1px solid red;
        }

        .footer{
             margin-top: 60px;
             background-color: #56ab2f;
             color: #fff;
             padding: 0.5em;
        }

        .legend {
             /* border: 1px solid red; */
             width: 100px;
             height: 70px;
             background-color: #56ab2f;
             color: #fff;
             border-radius: 25px;
             padding: 5px;
             margin: 5px;
        }

        #add_legend{
             cursor: pointer;
        }

        #request_box{
             margin-top: 20px;
             /* border: 1px solid red; */
             height: 600px;
             z-index: 100;
             position: absolute;
             /* background-color: #ffd000; */
             background-color: #fff;
             box-shadow: 0px 10px 50px black;
        }

        .req_sub_box{
             height: 400px;
             background-color: #fff;
             overflow-y: scroll;
             border: 1px solid #56ab2f;
        }

        .car_box{
             width: 150px;
             height: 150px;
             margin: auto;
             margin-top: 10px;
             padding: 5px;
             box-shadow: 5px 10px 18px #888888;
             cursor: pointer;
        }

        .car_box:hover{
             background-color: green;
             color: white;
        }

        .vehicle_number{
             text-align: center;
             font-size: 2.5em;
        }

        .driver_profile{
          width: 300px;
          height: 150px;
          padding: 5px;
          margin: auto;
          margin-top: 15px;
          box-shadow: 5px 10px 18px #888888;
          cursor: pointer;
        }

        .driver_profile img {
             background-position: center;
             background-repeat:no-repeat;
             background-size: cover;
             height: 67px;
        }

        .driver_profile:hover{
             background-color: green;
             color: white;
        }

        .reqs button {
             margin-left: 20px;
             margin-top: 5px;
        }

        .req_list {
             /* border: 1px solid black; */
             cursor: pointer;
             height: 70px;
             padding: 5px;
             margin: 5px;
             overflow: hidden;
             white-space: nowrap;
             text-overflow: ellipsis;
        }

        .req_list p{
             line-height: 50%;
             color: green;
        }

        .req_list:hover{
             background-color: #E8E8E8;
        }

        @media screen and (max-width: 700px) {
          .driver_box, .fleet_box {display: none;}
          .seats_number{display: none;}
          .driver_profile img{c}
          .driver_profile{height: 50px;}
          .licence_type{display: none;}
          .car_box{height: 50px;}
          .glass{border-radius: 0;}
        }

        @media screen and (max-width: 992px) {
          .m_box {
            height: 90vh;
            overflow: scroll;
          }
        }

        .navbtn{
          border-color: #00b048;
          border-radius: 25px;
          /* padding: 1em; */
          background-color: #00b048;
          color: #fff;
          font-size: 1em;
          cursor: pointer;
          margin-top: 5px;
          /* margin-left: 5px; */
          /* width: 300px; */
        }

        .req_content{
          height: 700px;
          overflow-y: scroll;
        }

        .req_status_heigh{
          height: 700px;
        }

        .new_user_ctn{
          height: 200px;
          width: auto;
          overflow-x: scroll;
        }

        /* .new_user_ctn > div{
          transform: rotate(90deg);
          transform-origin: right top;
        } */

        .new_driver_box{
          height: 300px;
          /* overflow-x: hidden; */
          overflow: scroll;
          white-space: nowrap;
          /* background-color: red; */
        }
        .bloc{
          height: 100vh;
        }
</style>
<body>

  <div class="bloc">
<nav class="navbar navbar-expand-lg navbar-dark bg-success">

        <a class="navbar-brand" href="#">Welcome, {{first_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#weekly_schedule" class="nav-link" data-toggle="modal" data-target=".weekly_schedule">My Weekly Schedule</a>
                </li>
                <li class="nav-item active">
                    <a href="#requests_inprogress" class="nav-link" data-toggle="modal" data-target=".requests_inprogress">Request Status</a>
                </li>
                <li class="nav-item active">
                    <a class="req_btn nav-link" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Request (<span id="lift_request_count">..</span>)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" type="button" data-toggle="modal" data-target=".bus_company">Bus Company Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" type="button" data-toggle="modal" data-target=".print_schedule_modal">Print Schedule</a>
                </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="logout">Log Out</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="login" target="_blank">Log In</a>
              </li> -->
            </ul>
        </div>
    </nav>
    <!-- bus company contact-->
    <div class="modal fade bus_company" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#56ab2f">
            <h5 class="modal-title" id="exampleModalLabel">Bus Company Contact</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="update_bus_company_contact" action="update_bus_company_contact" method="post">
              <div class="form-group">
                <label class="cols-sm-2 control-label">First Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" name="fname" id="fname" value=""/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" name="lname" id="lname" value=""/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" name="email" id="email" value=""/>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Change</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- new user-->
    <div class="modal fade new_users" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <!-- <div class="new_user_ctn"></div> -->
          </div>
        </div>
      </div>
    </div>

<!-- weekly schedule modal-->
<div class="modal fade weekly_schedule" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content justify-content-center">
    <div class="modal-header" style="background-color:#56ab2f">
      <h5 class="modal-title" id="exampleModalLabel">My Weekly Schedules</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
          <form id="myweekly_schedule" action="myweekly_schedule" method="POST">
            <div class="row">
              <div class="col-6">
                  <label>sunday</label>
                  <textarea name="sunday" class="form-control" id="sunday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>monday</label>
                  <textarea name="monday" class="form-control" id="monday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>tuesday</label>
                  <textarea name="tuesday" class="form-control" id="tuesday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>wednesday</label>
                  <textarea name="wednesday" class="form-control" id="wednesday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>thursday</label>
                  <textarea name="thursday" class="form-control" id="thursday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>friday</label>
                  <textarea name="friday" class="form-control" id="friday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>saturday</label>
                  <textarea name="saturday" class="form-control" id="saturday" rows="3"></textarea>
              </div>
              <!-- <div class="col-6">
                  <label for="exampleFormControlTextarea1"></label>
                  <textarea type="hidden" name="wednesday" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div> -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
  </div>
</div>
</div>

<!-- requests status-->
<div class="modal fade requests_inprogress" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" style="max-width: 100%;">
  <div class="modal-content justify-content-center">
    <div class="modal-header" style="background-color:#56ab2f">
      <h5 class="modal-title" id="exampleModalLabel">Request Status</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body req_status_heigh">
        <div class="row">
          <div class="col-lg-12">
            <div class="reqs_status_options">
              <div class="btn-group float-right btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary approved">Approved</button>
                <button type="button" class="btn btn-secondary ongoing">Ongoing</button>
                <button type="button" class="btn btn-secondary completed">Completed</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="req_content">
              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Shuttle</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                  </tr>
                </thead>
                <tbody class="reqs_table"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>

<!-- add driver-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      <form id="addDriverForm"  action="add_driver" method="POST">
    <div class="form-group">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" name="driver_fname" value="" required>
    </div>
    <div class="form-group">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" name="driver_lname" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- add vehicle-->
<div class="modal fade add-vehicle" tabindex="-1" role="dialog" aria-labelledby="add_vehicle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      <form id="addVehicleForm"  action="add_vehicle" method="POST">
    <div class="form-group">
      <label for="validationServer01">First name</label>
      <input type="number" class="form-control is-valid" id="validationServer01" placeholder="vehicle number" name="vehicle_number" value="" required>
    </div>
    <div class="form-group">
      <label for="validationServer02">Seats Available</label>
      <input type="number" class="form-control is-valid" id="validationServer02" placeholder="Seats" name="seat_number" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <!-- show requests-->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%;">
    <div class="modal-content justify-content-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PointLift Request(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <h3>Requests</h3>
              <div class="req_sub_box reqs justify-content-center"></div>
            </div>
            <div class="col-lg-8">
              <h3>Details</h3>
              <div class="req_sub_box req_details" style="padding-left:5px;"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- approve requests-->
<div class="modal fade" id="reqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Driver/Vehicle Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 driver_assignment">
            <form id="select_driver_at_approve_request" action="assign_request_to_driver" method="POST">
              <div class="form-row">
                <div class="form-group col-md-6" id="driver_selection_after_approved">
                  <label>select driver</label>
                 </div>
                 <div class="form-group col-md-6" id="shuttle_selection_after_approved">
                   <label>select vehicle</label>
                 </div>
                 <div class="form-group col-md-6">
                   <input type="hidden" name="request_id" value="">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="" name="number_of_driver" id="numOfDriver_at_approved" value="">
                   </div>
               </div>
               </form>
             <center><button class="btn btn-primary" id="assign_vehicle">Select Shuttle(s)</button></center>
            </div>
              <div class="col-12">
                <form id="update_req_status" action="update_req_status" method="POST">
                  <div class="form-row">
                     <div class="form-group col-md-6">
                       <input type="hidden" name="request_id" value="">
                      </div>
                   </div>
                 </form>
                </div>
              <div>
                <button class="btn btn-primary" id="assign_driver_vehicle">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid box">
        <div class="row justify-content-around text-center height">
          <div class="col-lg-3 justify-content-center">
            <div class="glass">
                  <h3>Available Drivers</h3>
                  <div class="right driver_box justify-content-center">
                  </div>
                </div>
                <div class="row">
                  <div class="col glass">
                    <h3>Unavailable Drivers</h3>
                    <div class=" right unavailable_driver_box justify-content-center">
                  </div>
                </div>
              </div>
            </div>
                <div class="col-lg-6 glass m_box">
                        <h3>Schedule/Planner</h3>
                        <div class='calendar' class="cal_box"></div>
                        <div class="new_driver_box">
                          <center><h3 class="new_user_count">New User(<span id="new_user_count"></span>)</h3></center>
                          <div class="new_user_ctn"></div>
                        </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="glass">
                        <h3>Fleet</h3>
                        <div class="right fleet_box justify-content-center">
                        <!-- <div>
                          <button class="btn btn-warning" data-toggle="modal" data-target=".add-vehicle"style="margin-top:10px;" style="margin-top:10px;">Add to Fleet</button>
                        </div> -->
                        </div>
                </div>
                <div class="row">
                  <div class="col glass">
                    <h3>Disabled Vehicles</h3>
                    <div class="right unavailable_fleet_box justify-content-center">
                  </div>
                </div>
              </div>
        </div>
</div>
<!-- driver info modal -->
<div class="modal fade driver_infos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#56ab2f;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel">Driver</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="driver_info"></div>
            <!-- <p>Driver Firstname: <span id="driver_fname_at_driver_info"></span></p>
            <p>Driver Lastname: <span id="driver_lname_at_driver_info"></span></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add new users modal -->
<div class="modal fade add_new_users" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#56ab2f;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel">New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="new_user_info"></div>
            <!-- <p>Driver Firstname: <span id="driver_fname_at_driver_info"></span></p>
            <p>Driver Lastname: <span id="driver_lname_at_driver_info"></span></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- shuttle info modal -->
<div class="modal fade shuttle_infos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#56ab2f;color:#fff">
        <h5 class="modal-title" id="exampleModalLabel">Driver</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="shuttle_info"></div>
            <!-- <p>Driver Firstname: <span id="driver_fname_at_driver_info"></span></p>
            <p>Driver Lastname: <span id="driver_lname_at_driver_info"></span></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- callendar modal -->
<!-- <div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#56ab2f;color:#fff">
                <h4 id="modalTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->
<!-- reasign request to new driver or new vehicle modal -->
<div class="modal fade reasign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reasign Driver/Vehicle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="driver">selected driver</label>
                  <input class="form-control" id="driver_at_reasign" name="driver" value="" disabled>
                </div>
                <div class="form-group col-md-6">
                  <label for="vehicle">selected shuttle</label>
                  <input class="form-control" name="vehicle" id="shuttle_at_reasign" value="" disabled>
                 </div>
                 <div class="form-group col-md-6 change_driver_div">
                   <button class="btn btn-primary change_driver">Change Driver</button>
                  </div>
                  <div class="form-group col-md-6 change_vehicle_div">
                    <button class="btn btn-primary change_vehicle">Change Vehicle</button>
                   </div>
                </div>
                <div class="driver_selection_box">
                  <div class="form-group col-md-6">
                    <button class="btn btn-primary look_for_driver_at_reasign">Look for driver</button>
                   </div>
                  <form  id="select_driver_at_reasign" action="select_driver_at_reasign" method="post">
                    <select class="form-control" id="driver_selection_reasign" name="new_driver_id" required></select>
                    <!-- <select class="form-control" id="shuttle_selection_reasign" name="vehicles_vehicle_id" required></select> -->
                     <input type="hidden" class="form-control" id="driver_id_at_reasign" name="old_driver_id" value="">
                  <!--   <input type="" class="form-control" id="shuttle_id_at_reasign" name="old_shuttle_id" value=""> -->
                    <!-- <input type="" id="id_at_reasign" name="requests_request_id" value=""> -->
                    <div class="selection_btn_at_reasign"></div>
                  </form>
                </div>
                <div class="vehicle_selection_box">
                  <div class="form-group col-md-6">
                    <button class="btn btn-primary look_for_vehicle_at_reasign">Look for vehicle</button>
                   </div>
                  <form  id="select_vehicle_at_reasign" action="select_vehicle_at_reasign" method="post">
                    <select class="form-control" id="vehicle_selection_reasign" name="new_vehicle_id" required></select>
                    <!-- <select class="form-control" id="shuttle_selection_reasign" name="vehicles_vehicle_id" required></select> -->
                     <input type="hidden" class="form-control" id="shuttle_id_at_reasign" name="old_vehicle_id" value="">
                  <!--   <input type="" class="form-control" id="shuttle_id_at_reasign" name="old_shuttle_id" value=""> -->
                    <!-- <input type="" id="id_at_reasign" name="requests_request_id" value=""> -->
                    <div class="selection_btn_at_reasign"></div>
                  </form>
                </div>
                <a href='#edit_request_modal' data-toggle="modal" data-target=".edit_request_modal">click here for more changes.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- edit requests-->
<div class="modal fade edit_request_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" style="max-width: 100%;">
  <div class="modal-content justify-content-center">
    <div class="modal-header" style="background-color:#56ab2f;color:#fff">
      <h5 class="modal-title" id="exampleModalLabel">PointLift Request</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- <h3>Requests</h3> -->

            <form id="edit_request" action="edit_request" method="post">
              <input id="request_id_at_edit" type="hidden" name="request_id" value="">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Purpose of the Trip</label>
                <input type="text" class="form-control" id="title_edit" placeholder="" name="title" value="">
               </div>
                <div class="form-group col-md-4">
                  <label >Email address</label>
                  <input type="email" id="email_edit" class="form-control" aria-describedby="emailHelp" placeholder="" name="request_email" value="">
                </div>
                <div class="form-group col-md-4">
                  <label>Requester's Name</label>
                  <input type="text" id="auth_name_edit"class="form-control" placeholder="" name="auth_name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Department</label>
                <input type="text" id="request_department_edit" class="form-control" placeholder="" name="request_department">
               </div>
               <div class="form-group col-md-4">
                <label>Date & Time of Trip <span id="old_start_edit"><span></label>
                <input type="datetime-local" id="start_edit" data-format="dd/MM/yyyy hh:mm" class="form-control" name="start">
               </div>
               <div class="form-group col-md-4">
                <label>Return Date & Time <span id="old_end_edit"><span></label>
                <input type="datetime-local" id="end_edit" data-format="dd/MM/yyyy hh:mm" class="form-control" name="end">
               </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <!-- <p>Previous Arrival at Destination Estimated Time <span id="old_estimate_arrival_edit"><span></p> -->
                <label>Arrival at Destination Estimated Time <span id="old_estimate_arrival_edit"><span></label>
                <input type="time" class="form-control"name="estimate_arrival" id="estimate_arrival_edit">
              </div>
              <div class="form-group col-md-4">
                <!-- <p>Previous Time of Return<span id="old_time_edit"><span></p> -->
                <label>Time of return <span id="old_time_edit"><span></label>
                <input type="time" class="form-control"name="return_time" id="return_time_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Departure Location </label>
                <input type="text" class="form-control"name="departure_location" id="departure_location_edit">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Arrival Location</label>
                <input type="text" class="form-control"name="arrival_location" id="arrival_location_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Return Location</label>
                <input type="text" class="form-control"name="return_location" id="return_location_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Loop Service</label>
                <input type="text" class="form-control"name="loop_service" id="loop_service_edit">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Destination</label>
              <input type="text" class="form-control" placeholder="" name="destination" id="destination_edit">
             </div>
              <div class="form-group col-md-4">
                <label >Direction</label>
                <input type="text" class="form-control" placeholder="" name="directions" id="directions_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Number of Passagers</label>
                <input type="number" class="form-control" placeholder="" name="num_passengers" id="num_passengers_edit">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Hotel Name</label>
              <input type="text" class="form-control" placeholder="" name="hotel_name" id="hotel_name_edit">
             </div>
              <div class="form-group col-md-4">
                <label >Hotel Address</label>
                <input type="text" class="form-control" placeholder="" name="hotel_address" id="hotel_address_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Hotel Direction</label>
                <input type="text" class="form-control" placeholder="" name="hotel_directions" id="hotel_directions_edit">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Number of Driver Needed</label>
              <input type="text" class="form-control" placeholder="" name="number_of_driver" id="number_of_driver_edit">
             </div>
              <div class="form-group col-md-4">
                <label >Other Comment</label>
                <input type="text" class="form-control" placeholder="" name="comment" id="comment_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Budget Number</label>
                <input type="text" class="form-control" placeholder="" name="budget_num" id="budget_num_edit" >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Event Person</label>
                <input type="text" class="form-control"name="event_person" id="event_person_edit">
              </div>
              <div class="form-group col-md-4">
                <label>Event Person Number</label>
                <input type="text" class="form-control"name="event_person_num" id="event_person_num_edit">
              </div>
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
  </div>
</div>
</div>
<!-- schedule modal-->
<div class="modal fade print_schedule_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" style="max-width: 100%;">
  <div class="modal-content justify-content-center">
      <div class="modal-header" style="background-color:#56ab2f;color:#fff">
        <span>From: <input id="schedule_from"  type="datetime-local" data-format="dd/MM/yyyy hh:mm" name="from" value="" required></span>
         &nbsp;<span> To: <input id="schedule_to"  type="datetime-local" data-format="dd/MM/yyyy hh:mm" name="to" value="" required></span>
         &nbsp;<button class="btn btn-primary get_date_range">Search</button>
         &nbsp;<a class="btn btn-success" id="printThis">Print <i class="fas fa-print"></i></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
              <div id="printable">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Shuttle #</th>
                    <th scope="col">Department</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Scheduled Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Printed Name</th>
                    <th scope="col">Driver Signature</th>
                  </tr>
                </thead>
                <tbody id="schedule_content"></tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.0/moment.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.12.3/printThis.min.js"></script>
<script>
var date = new Date();
//console.log(date.toLocaleString());
console.log(moment(date).format('MMM Do h:mm A'));
var id, event_start, event_end, numOfDriver, numOfShuttle, reasign_event_start, reasign_event_end, bus_company_email;
 $(document).ready(function() {
   // $("#numOfDriver_at_approved").val(numOfDriver);
   $(".driver_selection_box").hide();
   $(".vehicle_selection_box").hide();
   $(".change_driver").click(function(){
     $(".driver_selection_box").show();
     $(".vehicle_selection_box").hide();
     $(".change_vehicle_div").hide();
     $(".change_driver_div").hide();

   });
   $(".change_vehicle").click(function(){
     $(".driver_selection_box").hide();
     $(".vehicle_selection_box").show();
     $(".change_driver_div").hide();
     $(".change_vehicle_div").hide();
   });
$(".vehicle_assignment").show();
$("#assign_driver_vehicle").show();
$("#assign_vehicle").click(function(){
if(!findDuplicate(numOfDriver,"driver_at_selection")){
  $(".vehicle_assignment").show();
  $("#assign_driver_vehicle").show();
  $("#assign_vehicle").show();
  $(".driver_assignment").show();
}
});
    console.log("jquery loaded!");

    //get bus company contact info
    $.ajax({
      type: "POST",
      url:"get_bus_company_contact",
      success: function(data) {
        var results = data.success;
   console.log(results);
   bus_company_email = results[0].email;
   //console.log(bus_company_email);
   $("#fname").val(results[0].fname);
   $("#lname").val(results[0].lname);
   $("#email").val(results[0].email);
      },
      error: function (textStatus, errorThrown) {
        alert("Request failed!");
      }
    });
    console.log("email");
    console.log(bus_company_email);
    console.log("email");
    //weekly_schedule
    $.ajax({
      type: "POST",
      url:"get_weekly_schedule",
      success: function(data) {
        var results = data.success;
        console.log(results);
    $("#sunday").val(results[0].sunday);
    // $("#app_name").val(result[0].app_name);
    $("#monday").val(results[0].monday);
    $("#tuesday").val(results[0].tuesday);
    $("#wednesday").val(results[0].wednesday);
    $("#thursday").val(results[0].thursday);
    $("#friday").val(results[0].friday);
    $("#saturday").val(results[0].saturday);
      },
      error: function (textStatus, errorThrown) {
        alert("Request failed!");
      }
    });

    //reqs in progress
    getReqsStatus();
//get new users.
    $.ajax({
      type: "POST",
      url: "get_new_users",
      success: function(data) {
        var results = data.success;
        //$("#driver").empty();
        console.log("get_new_users ");
        console.log(results);
        for (var i = results.length-1; i >=0; i--) {
          var new_user_details=$("<div class='driver_profile' style='float:left;'><img src='img/driver4.png'><p class='name'>" + results[i].first_name+" "+ results[i].last_name + "</p><p class='licence_type'>License: "+(results[i].type_of_license===null?" ":results[i].type_of_license)+"</p></div>");
          $(".new_user_ctn").append(new_user_details);
          new_user_details.click({email: results[i].email, position:results[i].position ,user:results[i].user_id ,id:results[i].driver_id, driver_fname: results[i].first_name, driver_lname: results[i].last_name, type_of_license: results[i].type_of_license, pin: results[i].pin_number, contact: results[i].contact, physical: results[i].physical, address: results[i].address}, function(e) {
            var data = e.data;
            $(".new_user_info").empty();
            $(".new_user_info").append("<table class='table'><tbody><tr><td>Name</td><td>"+data.driver_fname+" "+data.driver_lname+"</td></tr>"
             +"<tr><td>Position</td><td>"+data.position+"</td></tr>"
            +"</tbody></table>");
            var approve = $("<form id='approve_new_user' action='approve_new_user' method='post'><input type='hidden' value='"+data.driver_fname+"'name='first_name'><input type='hidden' value='"+data.email+"'name='email'><input type='hidden' value='"+data.user+"'name='user_id'><input type='hidden' value='"+data.position+"'name='position'><button class='btn btn btn-success approve_new_user'>Approve</button></form>");
            $(".new_user_info").append(approve);
            $(".add_new_users").modal();
          });
        }
      },
      error: function (textStatus, errorThrown) {
        alert("Request failed!");
      }
    });

    // $(document).on('submit', '#look_for_driver_at_reasign', function(e) {
    //      $.ajax({
    //         url: $(this).attr('action'),
    //         type: $(this).attr('method'),
    //         data: $(this).serialize(),
    //         success: function(html) {
    //         location.reload();
    //         }
    //     });
    //     e.preventDefault();
    // });
    // $(".look_for_driver_at_reasign").click(function(){
    //   $("#look_for_driver_at_reasign").submit();
    // });
$(document).on('submit', '#update_bus_company_contact', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        location.reload();
        }
    });
    e.preventDefault();
});
$(document).on('submit', '#edit_request', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        location.reload();
        }
    });
    e.preventDefault();
});

    $(document).on('submit', '#approve_new_user', function(e) {
         $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(html) {
            location.reload();
            }
        });
        e.preventDefault();
    });
    $(".approve_new_user").click(function(){
      $("#approve_new_user").submit();
    });

    //get all drivers
  $.ajax({
    type: "POST",
    url: "get_drivers",
    success: function(data) {
      var results = data.success;
      //$("#driver").empty();
      console.log(results);
      for (var i = results.length-1; i >=0; i--) {
        var driver_details=$("<div class='driver_profile'><img src='img/driver4.png'><p class='name'>" + results[i].first_name+" "+ results[i].last_name + "</p><p class='licence_type'>License: "+(results[i].type_of_license===null?" ":results[i].type_of_license)+"</p></div>");
        $(".driver_box").append(driver_details);
        driver_details.click({license_expiration_date: results[i].license_expiration_date, id:results[i].driver_id, driver_fname: results[i].first_name, driver_lname: results[i].last_name, type_of_license: results[i].type_of_license, pin: results[i].pin_number, contact: results[i].contact, physical: results[i].physical, address: results[i].address}, function(e) {
          var data = e.data;
          $(".driver_info").empty();
          $(".driver_info").append("<table class='table'><tbody><tr><td>Name</td><td>"+data.driver_fname+" "+data.driver_lname+"</td></tr>"
          +"<tr><td>License</td><td>"+(data.type_of_license===null?' ':data.type_of_license)+"</td></tr>"
          +"<tr><td>License Expiration Date</td><td>"+(data.license_expiration_date===null?' ':moment(data.license_expiration_date).format("MMM Do YY"))+"</td></tr>"
          +"<tr><td>Physical</td><td>"+(data.physical===null?' ':data.physical)+"</td></tr>"
          +"<tr><td>Pin</td><td>"+(data.pin===null?' ':data.pin)+"</td></tr>"
          +"<tr><td>Telephone</td><td>"+(data.contact ===null?' ':data.contact)+"</td></tr>"
          +"<tr><td>Address</td><td>"+(data.address ===null?' ':data.address)+"</td></tr>"
          +"</tbody></table>");
          var remove_driver = $("<form id='remove_driver' action='remove_driver' method='post'><input type='hidden' value='"+data.id+"'name='driver_id'><button class='btn btn btn-danger take_out_driver'>Take "+data.driver_fname+" "+data.driver_lname +" out of availlable drivers</button></form>");
          $(".driver_info").append(remove_driver);
          $(".driver_infos").modal();
        });
      }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
  $(document).on('submit', '#remove_driver', function(e) {
       $.ajax({
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: $(this).serialize(),
          success: function(html) {
          location.reload();
          }
      });
      e.preventDefault();
  });
  $(".take_out_driver").click(function(){
    $("#remove_driver").submit();
  });
  //get unavailable drivers
$.ajax({
  type: "POST",
  url: "get_unavailable_drivers",
  success: function(data) {
    var results = data.success;
    //$("#driver").empty();
    console.log("u drivers"+results);
    for (var i = results.length-1; i >=0; i--) {
      var driver_details=$("<div class='driver_profile'><img src='img/driver4.png'><p class='name'>" + results[i].first_name+" "+ results[i].last_name + "</p><p class='licence_type'>License: "+(results[i].type_of_license===null?" ":results[i].type_of_license)+"</p></div>");
      $(".unavailable_driver_box").append(driver_details);
      driver_details.click({license_expiration_date: results[i].license_expiration_date, id:results[i].driver_id,driver_fname: results[i].first_name, driver_lname: results[i].last_name, type_of_license: results[i].type_of_license, pin: results[i].pin_number, contact: results[i].contact, physical: results[i].physical, address: results[i].address}, function(e) {
        var data = e.data;
        $(".driver_info").empty();
        $(".driver_info").append("<table class='table'><tbody><tr><td>Name</td><td>"+data.driver_fname+" "+data.driver_lname+"</td></tr>"
        +"<tr><td>License</td><td>"+(data.type_of_license===null?' ':data.type_of_license)+"</td></tr>"
        +"<tr><td>License Expiration Date</td><td>"+(data.license_expiration_date===null?' ':moment(data.license_expiration_date).format("MMM Do YY"))+"</td></tr>"
        +"<tr><td>Physical</td><td>"+(data.physical===null?' ':data.physical)+"</td></tr>"
        +"<tr><td>Pin</td><td>"+(data.pin===null?' ':data.pin)+"</td></tr>"
        +"<tr><td>Telephone</td><td>"+(data.contact ===null?' ':data.contact)+"</td></tr>"
        +"<tr><td>Address</td><td>"+(data.address ===null?' ':data.address)+"</td></tr>"
        +"</tbody></table>");
        var add_driver = $("<form id='add_driver_back_to_available_drivers' action='add_driver_back_to_available_drivers' method='post'><input type='hidden' value='"+data.id+"'name='driver_id'><button class='btn btn btn-success add_driver_back'>Add "+data.driver_fname+" "+data.driver_lname +" back to my availlable drivers</button></form>");
        $(".driver_info").append(add_driver);
        $(".driver_infos").modal();
      });
    }
  },
  error: function (textStatus, errorThrown) {
    alert("Request failed!");
  }
});
$(document).on('submit', '#add_driver_back_to_available_drivers', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        location.reload();
        }
    });
    e.preventDefault();
});
$(".add_driver_back").click(function(){
  $("#add_driver_back_to_available_drivers").submit();
});

   //get all vehicles
  $.ajax({
    type: "POST",
    url: "get_vehicles",
    success: function(data) {
      var results = data.success;
      console.log(results);
      for (var i = results.length-1; i >=0; i--) {
        var shuttle_details = $("<div class='car_box'><p class='vehicle_number'>#" + results[i].vehicle_number + "</p><p class='seats_number'>Seats: "+ results[i].seat_number+"</p></div>");
        $(".fleet_box").append(shuttle_details);
        shuttle_details.click({inspect_date:results[i].inspect_date, shuttle_num:results[i].vehicle_number, seat:results[i].seat_number, id:results[i].vehicle_id}, function(e){
          var data = e.data;
          $(".shuttle_info").empty();
          $(".shuttle_info").append("<table class='table'><tbody><tr><td>Shuttle Number</td><td>"+data.shuttle_num+"</td></tr>"
          +"<tr><td>Number of Seat</td><td>"+data.seat+"</td></tr>"
          +"<tr><td>Last Maintenance Date</td><td>"+(data.inspect_date===null?"":moment(data.inspect_date).format("L"))+"</td></tr>"
          +"</tbody></table>");
          var remove_shuttle = $("<form id='remove_shuttle' action='remove_shuttle' method='post'><input type='hidden' value='"+data.id+"'name='vehicle_id'><button class='btn btn btn-danger remove_shuttle_fleet'>take #"+data.shuttle_num+" out of the fleet</button></form>");
          $(".shuttle_info").append(remove_shuttle);
          $(".shuttle_infos").modal();
        });
      }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
  $(document).on('submit', '#remove_shuttle', function(e) {
       $.ajax({
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: $(this).serialize(),
          success: function(html) {
          location.reload();
          }
      });
      e.preventDefault();
  });
  $(".remove_shuttle_fleet").click(function(){
    $("#remove_shuttle").submit();
  });
//get unavailable shuttles
$.ajax({
  type: "POST",
  url: "get_unavailable_shuttle",
  success: function(data) {
    var results = data.success;
     console.log(results);
    for (var i = results.length-1; i >=0; i--) {
      var shuttle_details = $("<div class='car_box'><p class='vehicle_number'>#" + results[i].vehicle_number + "</p><p class='seats_number'>Seats: "+ results[i].seat_number+"</p></div>");
      $(".unavailable_fleet_box").append(shuttle_details);
      shuttle_details.click({inspect_date:results[i].inspect_date,shuttle_num:results[i].vehicle_number, seat:results[i].seat_number, id:results[i].vehicle_id}, function(e){
        var data = e.data;
        $(".shuttle_info").empty();
        $(".shuttle_info").append("<table class='table'><tbody><tr><td>Shuttle Number</td><td>"+data.shuttle_num+"</td></tr>"
        +"<tr><td>Number of Seat</td><td>"+data.seat+"</td></tr>"
        +"<tr><td>Last Maintenance Date</td><td>"+(data.inspect_date===null?"":moment(data.inspect_date).format("L"))+"</td></tr>"
        +"</tbody></table>");
        var add_shuttle = $("<form id='add_shuttle_back_fleet' action='add_shuttle_back_fleet' method='post'><input type='hidden' value='"+data.id+"'name='vehicle_id'><button class='btn btn btn-success add_shuttle_back'>add #"+data.shuttle_num+" to availlable fleet</button></form>");
        $(".shuttle_info").append(add_shuttle);
        $(".shuttle_infos").modal();
      });
    }
  },
  error: function (textStatus, errorThrown) {
    alert("Request failed!");
  }
});
$(document).on('submit', '#add_shuttle_back_fleet', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        location.reload();
        }
    });
    e.preventDefault();
});
$(".add_shuttle_back").click(function(){
  $("#add_shuttle_back_fleet").submit();
});

//count new users
      $.ajax({
     type: "POST",
     url: "get_new_user_count",
     success: function(data) {
       var results = data.success;
        console.log(results);
	$("#new_user_count").html(results[0].count);
  if (results[0].count !=0) {
    $(".new_user_count").css("background-color", "red");
    $(".new_user_count").css("color", "#fff");
  } else {
    $(".new_user_count").css("background-color", "#fff");
    $(".new_user_count").css("color", "green");
  }
     },
     error: function (textStatus, errorThrown) {
       alert("Request failed!");
     }
   });
   //count all the requests
   $.ajax({
  type: "POST",
  url: "get_req_count",
  success: function(data) {
    var results = data.success;
     console.log(results);
$("#lift_request_count").html(results[0].count);
if (results[0].count !=0) {
 $(".req_btn").css("background-color", "red");
} else {
 $(".req_btn").css("background-color", "green");
}
  },
  error: function (textStatus, errorThrown) {
    alert("Request failed!");
  }
});
//get  all the requests
$.ajax({
  type: "POST",
  url: "get_reqs",
  success: function(data) {
    var results = data.success;
    console.log(results);
    for (var i = 0; i < results.length; i++) {
      var start_date = moment(results[i].start).format('MMM Do h:mm A');
      // console.log(moment(start_date).format('MMM Do h:mm A'));
      var end_date = moment(results[i].end).format('MMM Do h:mm A');
      var arrival_destination_dateTime = moment(results[i].arrival_destination_dateTime).format('MMM Do h:mm A');
      var destination_dep_dateTime = moment(results[i].destination_dep_dateTime).format('MMM Do h:mm A');
      var request_list = $("<div class='req_list' id='req"+i+"'><p>Trip Purpose: "+ (results[i].title===null?" ":results[i].title)+ "</p><p>Date: " +start_date+"</p></div>");
      $(".reqs").append(request_list);
      var request_detail = $("<div class='more_details' id='dtl"+i+"' style='display:none'><table class='table'><tbody><tr><td scope='col'> Trip Purpose: "
      +(results[i].title===null?" ":results[i].title)+"</td></tr>"
      +"<tr><td scope='col'>Department: "+(results[i].request_department===null?" ":results[i].request_department)+"</td></tr>"
      +"<tr><td scope='col'>Date Of The Trip: "+start_date+"</td></tr>"
      // +"<p>Time of Depart: "+start_time+"</p>"
      +"<tr><td>Arrival Location: "+arrival_destination_dateTime+"</td></tr>"
      +"<tr><td>Destination: "+(results[i].destination===null?" ":results[i].destination)+"</td></tr>"
      +"<tr><td>Departure from Location: "+destination_dep_dateTime+"</td></tr>"
      +"<tr><td>Arrival PPU: "+end_date+"</td></tr>"
      +"<tr><td>Number of Passagers: "+(results[i].num_passengers=== null?" ":results[i].num_passengers)+"</td></tr>"
      +"<tr><td>Loop Service: "+(results[i].loop_service===null?" not required ":results[i].loop_service)+"</td></tr>"
      +"<tr><td>Other's name: "+(results[i].auth_name===null?" ":results[i].auth_name)+"</td></tr>"
      +"<tr><td>Budget Number: "+(results[i].budget_num===null?" ":results[i].budget_num)+"</td></tr>"
      +"<tr><td>Hotel: "+(results[i].hotel_name===null?"not required":results[i].hotel_name)+"</td></tr>"
      +"<tr><td>Hotel Address: "+(results[i].hotel_address===null?"not required":results[i].hotel_address)+"</td></tr>"
      +"<tr><td>Hotel Direction: "+(results[i].hotel_direction===null?"not required":results[i].hotel_direction)+"</td></tr>"
      +"<tr><td>Direction: "+(results[i].direction===null?"not required":results[i].direction)+"</td></tr>"
      +"<tr><td>Number of Driver(s): "+(results[i].driver_num===null?" ":results[i].driver_num)+"</td></tr>"
      +"<tr><td>Other Comment: "+(results[i].comment===null?"not required":results[i].comment)+"</td></tr>"
      +"<tr><td>Requester's Email: "+(results[i].email===null?" ":results[i].email)+"</td></tr></tbody></table>"

      +"</div>");
      var button_approved = $("<button class='btn btn-success approve' data-toggle='modal' data-id='"+results[i].request_id+"' data-target='#reqModal'>Approve</button> ");
      //alert("<button class='btn btn-success approve' data-toggle='modal' data-id='{"+"\"request:\""+results[i].request_id+"}' data-target='#reqModal'>Approve</button> ");

      var button_declined = $("<button class='btn btn-danger decline' onclick='decline()'>Decline</button>");
      request_detail.append(button_approved,button_declined);
      $(".req_details").append(request_detail);
      request_list.click({target:request_detail},function(e){
         $(".more_details").hide();
          $(e.data.target).show();
          // console.log("e");
          // console.log(e);
          // getAvaillableDrivers();
          // getAvaillableShuttles();
      });
      button_approved.click({ id: results[i].request_id, event_start: results[i].start, event_end: results[i].end, number_of_driver:results[i].number_of_driver, number_of_shuttle:results[i].number_of_shuttle}, function(e) {
        var data = e.data;
        id=data.id;
        event_start=data.event_start;
        event_end=data.event_end;
        numOfDriver = data.number_of_driver;
        numOfShuttle = data.number_of_shuttle;
        $("#numOfDriver_at_approved").val(numOfDriver);
        console.log("start:"+event_start);
        console.log("end:"+event_end);
        console.log("number of driver:"+numOfDriver);
        getAvaillableDrivers();
        getAvaillableShuttles();
      });
      $('#reqModal').on('show.bs.modal', function(e) {
        var request_id = $(e.relatedTarget).data('id');
        $(e.currentTarget).find('input[name="request_id"]').val(request_id);
        // $(e.currentTarget).find('input[name="number_of_driver"]').val(numOfDriver);
      });
    }
  },
  error: function (textStatus, errorThrown) {
    alert("Request failed!");
  }
});



//calendar

  $('.calendar').fullCalendar({
    showNonCurrentDates: false,
    timezone: 'local',
    timeFormat: 'h(:mm)t',
    displayEventTime: true,
    displayEventEnd: true,
    nowIndicator:true,
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
    // defaultDate: '2018-02-18',
    // editable: true,
    eventLimit: true, // allow "more" link when too many events
    eventTextColor: "orange",
    events: function(start, end, timezone, callback) {
        jQuery.ajax({
            // url: '/get_events',
            url: 'get_events',
            type: 'POST',
            // dataType: 'json',
            success: function(doc) {
              var results= doc.success;
              console.log(results);
                var events = [];
                for (var i=0;i<results.length;i++){
                  events.push(results[i]);
                  // console.log(results[i]);
                }
                console.log("events");
                console.log(events);
                 callback(events);
            }
        });
    },
    eventClick:  function(event, jsEvent, view) {
      console.log(event);
            $('#modalTitle').html("Title: "+event.title);
            $('#modalBody').html("<p>Start: "+event.start.format('MMM Do h:mm A')+"</p><p>End: "
            +event.end.format('MMM Do h:mm A')
            +"<p>Requester Name: "+event.auth_name+"</p>"
            +"<p>Requester email: "+event.email+"</p>"
            +"<p>Destination: "+event.destination+"</p>"
            +"<p>Driver: "+event.driver_fname+" "+event.driver_lname+"</p>"
            +"<p>Shuttle Number: "+event.vehicle_number+"</p>"
            +"</p>");
            $('#fullCalModal').modal();
        }
      });
});

var lift_request=[],avail_fleet=[], avail_drivers=[], reqs_details=[];
function test(){
  alert("test");
}
$(".get_date_range").click(function(){
  var from = $("#schedule_from").val();
  var to = $("#schedule_to").val();
  console.log("from: "+from+" to: "+ to);
  if (from !=='' && to!==''){
    $.ajax({
      type:"post",
      url:"print_request_of_aDay",
      data:{from:from, to:to},
      success: function(data){
        var results = data.success;
        console.log(results);
        for(var i=0; i<results.length; i++){
          var start = moment(results[i].start).format("L");
          var start_time = moment(results[i].start).format("LT");
          var end_time = moment(results[i].end).format("LT");
          var schedule_content = $("<tr><th>"+(start===null?'':start)+"</th><th>"+(results[i].vehicle_number===null?'':results[i].vehicle_number)+"</th><th>"+(results[i].request_department===null?'':results[i].request_department)+
          "</th><th></th><th>"+(start_time===null?'':start_time)+" - "+(end_time===null?'':end_time)+"</th><th></th><th>"+(results[i].driver_lname===null?'':results[i].driver_lname)+"</th><th></th></tr>");
          $("#schedule_content").append(schedule_content);
        }
      },
      error: function (textStatus, errorThrown) {
        alert("Request failed!");
      }
    });
  } else{

  }
});
function getAvaillableDrivers(){
  console.log({event_start: event_start, event_end:event_end});
  $.ajax({
    type: "POST",
    url: "get_availlable_drivers",
    data: {event_start: event_start, event_end:event_end},
    success: function(data) {
      var results = data.success;
      console.log("drivers");
      console.log(results[0]);
      console.log("numOfDriver ");
      var nDriver = Number(numOfDriver);
      console.log(nDriver);
      getDriverOptions(nDriver, results);
      // for(var i=0;i<nDriver;i++){
      //   var driverSelection=$("<select class='form-control' id='driver_at_selection"+i+"' name='driver"+i+"' required>");
      //   $("#driver_selection_after_approved").append(driverSelection);
      // }
      // for(var j=0;j<results.length;j++){
      //   for(var i=0;i<nDriver;i++){
      //     var driver_selection_options= $("<option value='"+results[j].driver_id+"'>"+results[j].driver_fname+" "+results[j].driver_lname+"</option>");
      //     $("#driver_at_selection"+i).append(driver_selection_options);
      //     // console.log(results[j]);
      //   }
      //
      // }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
}
$(document).on('submit', '#select_driver_at_approve_request', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
         data: $(this).serialize(),
        // data:{request_id:id},
        success: function(html) {
          // $("#assign_driver_vehicle").show();
           // $(".driver_assignment").hide();
           // $(".vehicle_assignment").show();
        }
    });
    e.preventDefault();
});
$(document).on('submit', '#select_vehicle_at_approve_request', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        }
    });
    e.preventDefault();
});
$(document).on('submit', '#update_req_status', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
        location.reload();
        }
    });
    e.preventDefault();
});

$("#assign_driver_vehicle").click(function(){
  if(!findDuplicate(numOfShuttle,"shuttle_at_selection")){
    $("#select_driver_at_approve_request").submit();
    // $("#select_vehicle_at_approve_request").submit();
    $("#update_req_status").submit();
    //alert("you are good to go!");
  }
});

function getAvaillableShuttles(){
  console.log({event_start: event_start, event_end:event_end});
  //console.log(myInf0);
  //$('#get_availlable_drivers').submit();
  $.ajax({
    type: "POST",
    url: "get_availlable_shuttles",
    data: {event_start: event_start, event_end:event_end},
    success: function(data) {
      var results = data.success;
      console.log("shuttles");
      console.log(results[0]);
      console.log("numOfShuttle ");
      var nDriver = Number(numOfDriver);
      console.log(nDriver);
      getShuttleOptions(nDriver, results);
      // for(var i=0;i<nShuttle;i++){
      //   var shuttleSelection=$("<select class='form-control' id='shuttle_at_selection"+i+"' name='shuttle"+i+"' required>");
      //   $("#shuttle_selection_after_approved").append(shuttleSelection);
      // }
      // for(var j=0;j<results.length;j++){
      //   for(var i=0;i<nShuttle;i++){
      //     var shuttle_selection_options= $("<option value='"+results[j].vehicle_id+"'>"+results[j].vehicle_number+"</option>");
      //     $("#shuttle_at_selection"+i).append(shuttle_selection_options);
      //     // console.log(results[j]);
      //   }
      //
      // }
      // $("#vehicle").empty();
      // $("#vehicle").append("<option value='' selected>SELECT</option>");
      // console.log("shuttles: "+results);
      // for (var i = results.length-1; i >=0; i--) {
      //   $("#vehicle").append("<option value='"+results[i].vehicle_id+"'>"+results[i].vehicle_number+"</option>");
      // }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
}
//get all approved requests
function getReqsStatus(){
  $.ajax({
 type: "POST",
 url: "get_reqs_status",
 success: function(data) {
   var results = data.success;
    console.log(results);
    $(".reqs_table").empty();
    for (var i = results.length-1; i >=0; i--) {
      // $(".req_inprogress").append("");
      results[i].isapproved = "Approved";
      var start_date = moment(results[i].start).format('MMM Do h:mm A');
      var end_date = moment(results[i].end).format('MMM Do h:mm A');
      var reqs_table_content = $("<tr><th scope='row' class='title'>"+(results[i].title===null?"":results[i].title)
      +"</th><td class='diver'>"+(results[i].driver_lname=== null?"":results[i].driver_lname)+", "+(results[i].driver_fname=== null?"":results[i].driver_fname)
      +"</td><td class='shuttle'>"+(results[i].vehicle_number=== null?"":results[i].vehicle_number)
      +"</td><td class='destination'>"+(results[i].destination=== null?"":results[i].destination)
      // +"</td><td class='status'>"+results[i].isapproved
      +"</td><td class='start_date'>"+(start_date=== null?"":start_date)
      +"</td><td class='end_date'>"+(end_date=== null?"":end_date)
      +"</td></tr>");
      $(".reqs_table").append(reqs_table_content);

      reqs_table_content.click({event_person_num:results[i].event_person_num,event_person:results[i].event_person,budget_num:results[i].budget_num,comment:results[i].comment,number_of_driver:results[i].number_of_driver,hotel_directions:results[i].hotel_directions,hotel_address:results[i].hotel_address,hotel_name:results[i].hotel_name,directions:results[i].directions,num_passengers:results[i].num_passengers,direction:results[i].hotel_directions,destination:results[i].destination,loop_service:results[i].loop_service,return_location:results[i].return_location,arrival_location:results[i].arrival_location,departure_location:results[i].departure_location,return_time:results[i].return_time,estimate_arrival:results[i].estimate_arrival,request_department:results[i].request_department,requester_name: results[i].auth_name, email: results[i].request_email, title:results[i].title, shuttle_id:results[i].vehicle_id, driver_id: results[i].driver_id ,start_date:results[i].start, end_date:results[i].end, id:results[i].request_id, driver_fname: results[i].driver_fname, driver_lname: results[i].driver_lname, shuttle_num: results[i].vehicle_number}, function(e) {
        var data = e.data;
        reasign_event_start = data.start_date;
        reasign_event_end = data.end_date;
          $("#driver_selection_reasign").empty();
          $("#vehicle_selection_reasign").empty();
          $(".selection_btn_at_reasign").empty();
        //alert(data.driver_id);
        //alert("start: "+ moment(reasign_event_start).format('MMM Do h:mm A')+ "end: "+moment(reasign_event_end).format('MMM Do h:mm A'));
        $("#select_drivers").empty();
        //alert("requests id: "+data.id +" driver: "+ data.driver_fname +","+ data.driver_lname+" shuttle number: "+ data.shuttle_num +"date: "+data.start_date);
        $("#driver_id_at_reasign").val(data.driver_id);
        $("#shuttle_id_at_reasign").val(data.shuttle_id);
        $("#shuttle_id_at_reasign").val(data.shuttle_id);
        $("#driver_at_reasign").val(data.driver_lname+","+data.driver_fname);
        $("#shuttle_at_reasign").val(data.shuttle_num);
        $("#id_at_reasign").val(data.id);
        $("#start_at_reasign").val(data.start_date);
        $("#end_at_reasign").val(data.end_date);
        $("#request_id_at_edit").val(data.id);
        $("#title_edit").val(data.title);
        $("#email_edit").val(data.email);
        $("#auth_name_edit").val(data.requester_name);
        $("#request_department_edit").val(data.request_department);
        $("#old_start_edit").text(moment(data.start).format("LLL"));
        $("#start_edit").val(data.start);
        $("#old_end_edit").text(moment(data.end).format("LLL"));
        $("#end_edit").val(data.end);
        $("#old_estimate_arrival_edit").text(moment(data.estimate_arrival, "HH:mm:ss").format("hh:mm A"));
        $("#estimate_arrival_edit").val(data.estimate_arrival);
        $("#return_time_edit").val(data.return_time);
        $("#old_time_edit").text(moment(data.return_time, "HH:mm:ss").format("hh:mm A"));
        $("#departure_location_edit").val(data.departure_location);
        $("#arrival_location_edit").val(data.arrival_location);
        $("#return_location_edit").val(data.return_location);
        $("#loop_service_edit").val(data.loop_service);
        $("#destination_edit").val(data.destination);
        $("#directions_edit").val(data.directions);
        $("#num_passengers_edit").val(data.num_passengers);
        $("#hotel_name_edit").val(data.hotel_name);
        $("#hotel_address_edit").val(data.hotel_address);
        $("#hotel_directions_edit").val(data.hotel_directions);
        $("#number_of_driver_edit").val(data.number_of_driver);
        $("#comment_edit").val(data.comment);
        $("#budget_num_edit").val(data.budget_num);
        $("#event_person_edit").val(data.event_person);
        $("#event_person_num_edit").val(data.event_person_num);

        // var form=$("<option>1</option><option>2</option>");
        // $("#select_drivers").append(form);
        $(".reasign").modal();
      });
    }
 },
 error: function (textStatus, errorThrown) {
   alert("Request failed!");
 }
});
}

$(".approved").click(function(){getReqsStatus()})
//reqs ongoing
$(".ongoing").click(function(){
  $.ajax({
 type: "POST",
 url: "get_reqs_ongoing",
 success: function(data) {
   var results = data.success;
    console.log(results);
    $(".reqs_table").empty();
    for (var i = results.length-1; i >=0; i--) {
      // $(".req_inprogress").append("");
      // results[i].ongoing = "Approved";
      var start_date = moment(results[i].start).format('MMM Do h:mm A');
      var end_date = moment(results[i].end).format('MMM Do h:mm A');
      var reqs_table_content = $("<tr><th scope='row' class='title'>"+(results[i].title===null?"":results[i].title)
      +"</th><td class='diver'>"+(results[i].driver_lname=== null?"":results[i].driver_lname)+", "+(results[i].driver_fname=== null?"":results[i].driver_fname)
      +"</td><td class='shuttle'>"+(results[i].vehicle_number=== null?"":results[i].vehicle_number)
      +"</td><td class='destination'>"+(results[i].destination=== null?"":results[i].destination)
      // +"</td><td class='status'>"+results[i].isapproved
      +"</td><td class='start_date'>"+(start_date=== null?"":start_date)
      +"</td><td class='end_date'>"+(end_date=== null?"":end_date)
      +"</td></tr>");
      $(".reqs_table").append(reqs_table_content);
    }
 },
 error: function (textStatus, errorThrown) {
   alert("Request failed!");
 }
});

});

//reqs completed
$(".completed").click(function(){
  $.ajax({
 type: "POST",
 url: "get_reqs_completed",
 success: function(data) {
   var results = data.success;
    console.log(results);
    $(".reqs_table").empty();
    for (var i = results.length-1; i >=0; i--) {
      // $(".req_inprogress").append("");
      // results[i].completed = "Completed";
      var start_date = moment(results[i].start).format('MMM Do h:mm A');
      var end_date = moment(results[i].end).format('MMM Do h:mm A');
      var reqs_table_content = $("<tr><th scope='row' class='title'>"+(results[i].title===null?"":results[i].title)
      +"</th><td class='diver'>"+(results[i].driver_lname=== null?"":results[i].driver_lname)+", "+(results[i].driver_fname=== null?"":results[i].driver_fname)
      +"</td><td class='shuttle'>"+(results[i].vehicle_number=== null?"":results[i].vehicle_number)
      +"</td><td class='destination'>"+(results[i].destination=== null?"":results[i].destination)
      // +"</td><td class='status'>"+results[i].isapproved
      +"</td><td class='start_date'>"+(start_date=== null?"":start_date)
      +"</td><td class='end_date'>"+(end_date=== null?"":end_date)
      +"</td></tr>");
      $(".reqs_table").append(reqs_table_content);
    }
 },
 error: function (textStatus, errorThrown) {
   alert("Request failed!");
 }
});

});

setInterval(function(){
  $.ajax({
    type:"POST",
    url:"mark_completed_reqs"
  });
  console.log("marq_completed_reqs was called");
}, 60*1000);

$(".look_for_driver_at_reasign").click(function(){
    $(".selection_btn_at_reasign").empty();
  lookForDriver();
  //lookForVehicle();
      $(".selection_btn_at_reasign").append("<button class='btn btn-primary driver_submit_btn_at_reasign'>Submit</button>");
});
$(".look_for_vehicle_at_reasign").click(function(){
    $(".selection_btn_at_reasign").empty();
  //lookForDriver();
    lookForVehicle();
    $(".selection_btn_at_reasign").append("<button class='btn btn-primary vehicle_submit_btn_at_reasign'>Submit</button>");
});

function lookForDriver(){
  $.ajax({

 type: "POST",
 url: "look_for_driver_at_reasign",
 data: {event_start: reasign_event_start, event_end: reasign_event_end},
 success: function(data) {
   var results = data.success;
    console.log(results);
    // $(".selection_btn_at_reasign").empty();
    $("#driver_selection_reasign").empty();
    // $(".selection_btn_at_reasign").append("<button class='btn btn-primary submit_btn_at_reasign'>Submit</button>");
    $("#driver_selection_reasign").append("<option value=' '>SELECT DRIVER</option>");
    for (var i =0; i<results.length; i++) {
      var options = $("<option value='"+results[i].driver_id+"'>"+results[i].driver_fname+" "+results[i].driver_lname+"</option>");
      $("#driver_selection_reasign").append(options);
    }
 },
 error: function (textStatus, errorThrown) {
   alert("Request failed!");
 }
});
}
function lookForVehicle(){
  $.ajax({
 type: "POST",
 url: "look_for_vehicle_at_reasign",
 data: {event_start: reasign_event_start, event_end: reasign_event_end},
 success: function(data) {
   var results = data.success;
    console.log(results);
    // $(".selection_btn_at_reasign").empty();
    $("#vehicle_selection_reasign").empty();
    // $(".selection_btn_at_reasign").append("<button class='btn btn-primary submit_btn_at_reasign'>Submit</button>");
    $("#vehicle_selection_reasign").append("<option value=' '>SELECT VEHICLE</option>");
    for (var i =0; i<results.length; i++) {
      var options = $("<option value='"+results[i].vehicle_id+"'>"+results[i].vehicle_number+"</option>");
      $("#vehicle_selection_reasign").append(options);
    }
 },
 error: function (textStatus, errorThrown) {
   alert("Request failed!");
 }

});
}

$(document).on('submit', '#select_driver_at_reasign', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
           $(".reasign").modal('toggle');
            location.reload();
            $("#reqModal").modal('show');

          getReqsStatus();
        }
    });
    e.preventDefault();
});
$(document).on('submit', '#select_vehicle_at_reasign', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
        success: function(html) {
           $(".reasign").modal('toggle');
           location.reload();
          reqModal
          $("#reqModal").modal('show');
           getReqsStatus();
        }
    });
    e.preventDefault();
});

$(".driver_submit_btn_at_reasign").click(function(){
  $("#select_driver_at_reasign").submit();
});
$(".vehicle_submit_btn_at_reasign").click(function(){
  $("#select_vehicle_at_reasign").submit();
});

function getDriverOptions(nDriver, results){
  $("#driver_selection_after_approved").empty();
  $("#driver_selection_after_approved").append("<label>select DRIVER</label>");
  for(var i=0;i<nDriver;i++){
    var driverSelection=$("<select class='form-control' id='driver_at_selection"+i+"' name='drivers_driver_id' required>");
    $("#driver_selection_after_approved").append(driverSelection);
  }
  for(var j=0;j<results.length;j++){
    for(var i=0;i<nDriver;i++){
      var driver_selection_options= $("<option value='"+results[j].driver_id+"'>"+results[j].driver_fname+" "+results[j].driver_lname+"</option>");
      $("#driver_at_selection"+i).append(driver_selection_options);
      // console.log(results[j]);
    }

  }
}

function getShuttleOptions(nDriver, results){
  $("#shuttle_selection_after_approved").empty();
  $("#driver_selection_after_approved").append("<label>select VEHICLE</label>");
  for(var i=0;i<nDriver;i++){
    var shuttleSelection=$("<select class='form-control' id='shuttle_at_selection"+i+"' name='vehicles_vehicle_id' required>");
    $("#shuttle_selection_after_approved").append(shuttleSelection);
  }
  for(var j=0;j<results.length;j++){
    for(var i=0;i<nDriver;i++){
      var shuttle_selection_options= $("<option value='"+results[j].vehicle_id+"'>"+results[j].vehicle_number+"</option>");
      $("#shuttle_at_selection"+i).append(shuttle_selection_options);
      // console.log(results[j]);
    }

  }
}

function findDuplicate(target, ids){
  for(var i=0;i<target;i++){
    for(var j=i+1;j<target;j++){
      if($("#"+ids+i).val() !== $("#"+ids+j).val()) {
      }else{
        alert('Duplicate value found.');
        return true;
           }
        }
    }
    return false;
}

$("#printThis").click(function(){
  $("#printable").printThis({
    debug: false,               // show the iframe for debugging
    importCSS: true,            // import page CSS
    importStyle: false,         // import style tags
    printContainer: true,       // grab outer container as well as the contents of the selector
    // loadCSS: "path/to/my.css",  // path to additional css file - use an array [] for multiple
    pageTitle: "Pointlift",              // add title to print page
    removeInline: false,        // remove all inline styles from print elements
    printDelay: 333,            // variable print delay
    header: false,               // prefix to html
    footer: false,               // postfix to html
    base: false ,               // preserve the BASE tag, or accept a string for the URL
    formValues: true,           // preserve input/form values
    // canvas: false,              // copy canvas elements (experimental)
    // doctypeString: "...",       // enter a different doctype for older markup
    removeScripts: false,       // remove script tags from print content
    copyTagClasses: false       // copy classes from the html & body tag
  });
});


</script>
{{else}}
<div class="alert alert-danger" role="alert">
  <center>
    <h1>sorry, you are not allowed to view this page.</h1>
    <p>Please click <a href="https://fkonat.it.pointpark.edu/pointlift/">here</a></p>
  </center>
</div>
{{/if}}
