
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src='calendar/lib/moment.min.js'></script>
  <script src='calendar/lib/jquery.min.js'></script>
  <script src='calendar/fullcalendar.min.js'></script>
<style>
body {
  background: url("img/ppu1.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
.box{
  margin-top:10px;
        /* background-color: #fff; */
  background: rgba(13,13,13,.0);
  background: transparant;
  padding-top: 15px;
  }
.glass{
  border: 1px solid black;
  background: rgba(0,0,0,.7);
  box-shadow: 0px 10px 50px black;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #07b048;
}
        .m_box{
          height: 740px;
        }
          .right{
            overflow-y: scroll;
            height: 650px;
          }
        h3{
             border-radius: 25px;
             /* background-color: #07b048; */
             background-color: #fff;
             padding: 0.1em;
             color: #07b048;
             border:1px solid white;
             margin-top:10px;
        }
        .req_btn{
             border-radius: 25px;
             padding: 1em;
             color: white;
             font-size: 0.5em;
             cursor: pointer;
             margin-top: 5px;
             margin-left: 5px;
        }
        .test{
             border: 1px solid red;
        }
        .footer{
             margin-top: 60px;
             background-color: #56ab2f;
             color: #fff;
             padding: 0.5em;
        }
        .legend {
             /* border: 1px solid red; */
             width: 100px;
             height: 70px;
             background-color: #56ab2f;
             color: #fff;
             border-radius: 25px;
             padding: 5px;
             margin: 5px;
        }
        #add_legend{
             cursor: pointer;
        }
        #request_box{
             margin-top: 20px;
             /* border: 1px solid red; */
             height: 600px;
             z-index: 100;
             position: absolute;
             /* background-color: #ffd000; */
             background-color: #fff;
             box-shadow: 0px 10px 50px black;
        }
        .req_sub_box{
             height: 400px;
             background-color: #fff;
             overflow-y: scroll;
             border: 1px solid #56ab2f;
        }
        .car_box{
             width: 150px;
             height: 150px;
             margin: auto;
             margin-top: 10px;
             padding: 5px;
             box-shadow: 5px 10px 18px #888888;
             cursor: pointer;
        }
        .car_box:hover{
             background-color: green;
             color: white;
        }
        .vehicle_number{
             text-align: center;
             font-size: 2.5em;
        }
        .driver_profile{
             width: 200px;
             height: 150px;
             padding: 5px;
             margin: auto;
             margin-top: 15px;
             box-shadow: 5px 10px 18px #888888;
             cursor: pointer;
        }
        .driver_profile img {
             background-position: center;
             background-repeat:no-repeat;
             background-size: cover;
             height: 67px;
        }
        .driver_profile:hover{
             background-color: green;
             color: white;
        }
        .reqs button {
             margin-left: 20px;
             margin-top: 5px;
        }
        .req_list {
             /* border: 1px solid black; */
             cursor: pointer;
             height: 70px;
             padding: 5px;
             margin: 5px;
             overflow: hidden;
             white-space: nowrap;
             text-overflow: ellipsis;
        }
        .req_list p{
             line-height: 50%;
             color: green;
        }
        .req_list:hover{
             background-color: #E8E8E8;
        }
        @media screen and (max-width: 700px) {
          .driver_box, .fleet_box {
            height: 10vh;
          }
        }
        @media screen and (max-width: 700px) {
          .m_box {
            height: 20vh;
          }
        }
        @media screen and (max-width: 992px) {
          .m_box {
            height: 90vh;
            overflow: scroll;
          }
        }
        .navbtn{
          border-color: #00b048;
          border-radius: 25px;
          /* padding: 1em; */
          background-color: #00b048;
          color: #fff;
          font-size: 1em;
          cursor: pointer;
          margin-top: 5px;
          margin-left: 5px;
          width: 300px;
        }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="admin">PointLift</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                        <!-- <li class="nav-item active">
                                <a class="nav-link" href="admin">Home <span class="sr-only">(current)</span></a>
                        </li> -->
                        <li class="nav-item">
                                <!-- <a class="nav-link" type="button" data-toggle="modal" data-target=".weekly_schedule">My Weekly Schedule</a> -->
                                <button class="navbtn" type="button" data-toggle="modal" data-target=".weekly_schedule">My Weekly Schedule</button>
                        </li>
                        <li class="nav-item">
                          <!-- <button class="req_btn" onclick="open_requests()">Request (<span id="lift_request_count">..</span>)</button> -->
                                <button class="req_btn" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">Request (<span id="lift_request_count">..</span>)</button>
                        </li>
                </ul>
        </div>
</nav>
<!-- weekly schedule modal-->
<div class="modal fade weekly_schedule" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content justify-content-center">
    <div class="modal-header" style="background-color:#56ab2f">
      <h5 class="modal-title" id="exampleModalLabel">My Weekly Schedules</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
          <form id="myweekly_schedule" action="/myweekly_schedule" method="POST">
            <div class="row">
              <div class="col-6">
                  <label>sunday</label>
                  <textarea name="sunday" class="form-control" id="sunday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>monday</label>
                  <textarea name="monday" class="form-control" id="monday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>tuesday</label>
                  <textarea name="tuesday" class="form-control" id="tuesday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>wednesday</label>
                  <textarea name="wednesday" class="form-control" id="wednesday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>thursday</label>
                  <textarea name="thursday" class="form-control" id="thursday" rows="3"></textarea>
              </div>
              <div class="col-6">
                  <label>friday</label>
                  <textarea name="friday" class="form-control" id="friday" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                  <label>saturday</label>
                  <textarea name="saturday" class="form-control" id="saturday" rows="3"></textarea>
              </div>
              <!-- <div class="col-6">
                  <label for="exampleFormControlTextarea1"></label>
                  <textarea type="hidden" name="wednesday" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div> -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->
  </div>
</div>
</div>
<!-- add driver-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      <form id="addDriverForm"  action="/add_driver" method="POST">
    <div class="form-group">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" name="driver_fname" value="" required>
    </div>
    <div class="form-group">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" name="driver_lname" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- add vehicle-->
<div class="modal fade add-vehicle" tabindex="-1" role="dialog" aria-labelledby="add_vehicle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      <form id="addVehicleForm"  action="/add_vehicle" method="POST">
    <div class="form-group">
      <label for="validationServer01">First name</label>
      <input type="number" class="form-control is-valid" id="validationServer01" placeholder="vehicle number" name="vehicle_number" value="" required>
    </div>
    <div class="form-group">
      <label for="validationServer02">Seats Available</label>
      <input type="number" class="form-control is-valid" id="validationServer02" placeholder="Seats" name="seat_number" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <!-- show requests-->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content justify-content-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PointLift Request(s)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <h3>Requests</h3>
              <div class="req_sub_box reqs justify-content-center"></div>
            </div>
            <div class="col-lg-8">
              <h3>Details</h3>
              <div class="req_sub_box req_details" style="padding-left:5px;"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<!-- approve requests-->
<div class="modal fade" id="reqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Driver/Vehicle Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form id="select_driver_van" action="/assign_request" method="POST">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="driver">select driver</label>
                  <select class="form-control" id="driver" name="driver" required>
                    <option value="" selected>SELECT</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="vehicle">select van</label>
                  <select class="form-control" name="vehicle" id="vehicle" required>
                    <option value="" selected>SELECT</option>
                  </select>
                 </div>
                 <div class="form-group col-md-6">
                   <input type="hidden" name="reqs_id" value="">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            <!-- <p><select name="driver" id="driver">
                <option value="" selected>select a driver</option>
              </select>
            </p>
            <p><select name="vehicle" id="vehicle">
                <option value="" selected>select a vehicle</option>
              </select>
          </p> -->
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick='appr()'>Submit</button>
      </div> -->
    </div>
  </div>
</div>

<div class="container-fluid box">
        <div class="row justify-content-around text-center height">
          <div class="col-lg-3 justify-content-center">
            <div class="glass">
                  <h3>Drivers</h3>
                  <div class="right driver_box justify-content-center">
                  </div>
                  <div>
                    <button class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-sm"style="margin-top:10px;">Add to driver</button>
                  </div>
                    </div>
          </div>
                <div class="col-lg-6 glass">
                        <h3>Schedule/Planner</h3>
                        <div id='calendar' class="m_box"></div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="glass">
                        <h3>Fleet</h3>
                        <div class="right fleet_box justify-content-center">
                        </div>
                        <div>
                          <button class="btn btn-warning" data-toggle="modal" data-target=".add-vehicle"style="margin-top:10px;" style="margin-top:10px;">Add to Fleet</button>
                        </div>
                        </div>
                </div>
        </div>
</div>
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#56ab2f;color:#fff">
                <h4 id="modalTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
 $(document).ready(function() {
    console.log("jquery loaded!");
    //weekly_schedule
    $.ajax({
      type: "POST",
      url: "/get_weekly_schedule",
      success: function(data) {
        var results = data.success;
   console.log(results);
   $("#sunday").val(results[0].sunday);
   // $("#app_name").val(result[0].app_name);
   $("#monday").val(results[0].monday);
   $("#tuesday").val(results[0].tuesday);
   $("#wednesday").val(results[0].wednesday);
   $("#thursday").val(results[0].thursday);
   $("#friday").val(results[0].friday);
   $("#saturday").val(results[0].saturday);
      },
      error: function (textStatus, errorThrown) {
        alert("Request failed!");
      }
    });
    // free drivers once an assigned request is done
    // function freeDrivers(){
    //   $.ajax({
    //     type:"POST",
    //     url:"/free_drivers"
    //   });
    // }
    setInterval(function(){
      $.ajax({
        type:"POST",
        url:"/free_drivers"
      });
      console.log("freedrivers was called");
    }, 60*1000);
    //get Available drivers
function refresh_drivers(){
  $.ajax({
    type: "POST",
    url: "/get_drivers",
    success: function(data) {
      var results = data.success;
      $(".driver_box").empty();
      $("#driver").empty();
      $("#driver").append("<option value='' selected>SELECT</option>");
 console.log(results);
      for (var i = results.length-1; i >=0; i--) {
        $(".driver_box").append("<div class='driver_profile'><img src='img/driver4.png'><p class='name'>" + results[i].driver_fname+" "+ results[i].driver_lname + "</p><p class='licence_type'>CDL</p></div>");
  $("#driver").append("<option value='"+results[i].driver_id+"'>"+results[i].driver_fname+" "+results[i].driver_lname+"</option>");
      }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
}
 refresh_drivers();
setInterval(refresh_drivers,60*1000);
// free vehicles once an assigned request is done
// function freeVehicles(){
//   $.ajax({
//     type:"POST",
//     url:"/free_vehicles"
//   });
//   console.log("freeVehicles was called");
// }
setInterval(function(){
  $.ajax({
    type:"POST",
    url:"/free_vehicles"
  });
  console.log("freeVehicles was called");
}, 60*1000);
   //get Available vehicles
function refresh_fleet(){
  $.ajax({
    type: "POST",
    url: "/get_vehicles",
    success: function(data) {
      var results = data.success;
      $(".fleet_box").empty();
      $("#vehicle").empty();
      $("#vehicle").append("<option value='' selected>SELECT</option>");
       console.log(results);
      for (var i = results.length-1; i >=0; i--) {
        $(".fleet_box").append("<div class='car_box'><p class='vehicle_number'>#" + results[i].vehicle_number + "</p><p class='seats_number'>Seats: "+ results[i].seat_number+"</p></div>");
        $("#vehicle").append("<option value='"+results[i].vehicle_id+"'>"+results[i].vehicle_number+"</option>");
      }
    },
    error: function (textStatus, errorThrown) {
      alert("Request failed!");
    }
  });
}
refresh_fleet();
setInterval(refresh_drivers,60*1000);
//count all the requests
      $.ajax({
     type: "POST",
     url: "/get_req_count",
     success: function(data) {
       var results = data.success;
        console.log(results);
	$("#lift_request_count").html(results[0].count);
  if (results[0].count !=0) {
    $(".req_btn").css("background-color", "red");
  } else {
    $(".req_btn").css("background-color", "green");
  }
     },
     error: function (textStatus, errorThrown) {
       alert("Request failed!");
     }
   });
//get  all the requests
//    $.ajax({
//      type: "POST",
//      url: "/get_reqs",
//      success: function(data) {
//        var results = data.success;
// 	console.log(results);
//        for (var i = 0; i < results.length; i++) {
//          var request_list = $("<div class='req_list' id='req"+i+"'><p>Department: "+ results[i].department+ "</p><p>Date: " +results[i].dateTrip+"</p></div>");
//          $(".reqs").append(request_list);
//          var request_detail = $("<div class='more_details' id='dtl"+i+"' style='display:none'><p>Title: "
//          +results[i].title+"</p>"
//          +"<p>Department: "+results[i].department+"</p>"
//          +"<p>Destination: "+results[i].destination+"</p>"
//          +"<p>Passagers: "+results[i].numPassengers+"</p>"
//          +"<p>Date Of The Trip: "+results[i].dateTrip+"</p>"
//          +"<p>Departure Location: "+results[i].depLocation+"</p>"
//          +"<p>Arrival Location: "+results[i].arrLocation+"</p>"
//          +"<p>id: "+results[i].request_id+"</p>"
//          +"<button class='btn btn-success approve' data-toggle='modal' data-id='"+results[i].request_id+"' data-target='#reqModal'>Approve</button> <button class='btn btn-danger decline' onclick='decline()'>Decline</button>"
//          +"</div>");
//          $(".req_details").append(request_detail);
//          request_list.click({target:request_detail},function(e){
//             $(".more_details").hide();
//              $(e.data.target).show();
//              // console.log("e");
//              // console.log(e);
//          });
//          $('#reqModal').on('show.bs.modal', function(e) {
//     var request_id = $(e.relatedTarget).data('id');
//     $(e.currentTarget).find('input[name="request_id"]').val(request_id);
// });
//        }
//      },
//      error: function (textStatus, errorThrown) {
//        alert("Request failed!");
//      }
//    });
//tmp requests
$.ajax({
  type: "POST",
  url: "/get_reqs",
  success: function(data) {
    var results = data.success;
console.log(results);
    for (var i = 0; i < results.length; i++) {
      var request_list = $("<div class='req_list' id='req"+i+"'><p>Department: "+ results[i].title+ "</p><p>Date: " +results[i].start.replace(/\..+/, '')+"</p></div>");
      $(".reqs").append(request_list);
      var request_detail = $("<div class='more_details' id='dtl"+i+"' style='display:none'><p>Title: "
      +results[i].title+"</p>"
      +"<p>Department: "+results[i].title+"</p>"
      +"<p>Date Of The Trip: "+results[i].start.replace(/\..+/, '')+"</p>"
      +"<p>Arrival Location: "+results[i].arrival_destination_dateTime.replace(/\..+/, '')+"</p>"
      +"<p>Departure from Location: "+results[i].destination_dep_dateTime.replace(/\..+/, '')+"</p>"
      +"<p>Arrival PPU: "+results[i].end.replace(/\..+/, '')+"</p>"
      +"<button class='btn btn-success approve' data-toggle='modal' data-id='"+results[i].reqs_id+"' data-target='#reqModal'>Approve</button> <button class='btn btn-danger decline' onclick='decline()'>Decline</button>"
      +"</div>");
      $(".req_details").append(request_detail);
      request_list.click({target:request_detail},function(e){
         $(".more_details").hide();
          $(e.data.target).show();
          // console.log("e");
          // console.log(e);
      });
      $('#reqModal').on('show.bs.modal', function(e) {
 var request_id = $(e.relatedTarget).data('id');
 $(e.currentTarget).find('input[name="reqs_id"]').val(request_id);
});
    }
  },
  error: function (textStatus, errorThrown) {
    alert("Request failed!");
  }
});
// $("#select_driver_van").submit(function(e){
//   $.ajax({
//     url: 'assign_driver', type: 'POST'
//   })
// });



//calendar

  $('#calendar').fullCalendar({
    showNonCurrentDates: false,
    timezone: 'local',
    timeFormat: 'h(:mm)t',
    displayEventTime: true,
    displayEventEnd: true,
    nowIndicator:true,
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
    // defaultDate: '2018-02-18',
    // editable: true,
    eventLimit: true, // allow "more" link when too many events
    eventTextColor: "orange",
    events: function(start, end, timezone, callback) {
        jQuery.ajax({
            // url: '/get_events',
            url: '/get_events',
            type: 'POST',
            // dataType: 'json',
            success: function(doc) {
              var results= doc.success;
              console.log(results);
                var events = [];
                for (var i=0;i<results.length;i++){
                  events.push(results[i]);
                  // console.log(results[i]);
                }
                console.log("events");
                console.log(events);
                 callback(events);
            }
        });
    },
//     eventClick: function(calEvent, jsEvent, view) {
//       $(this).onclick(function(){
//         var box = $("<div class='evdetails' style='height:200px;width:200px;border:1px solid red'></div>");
//         $(".evdetails").append("<p>"+caleEvent.title+"</p>")
//         $(this).append(box);
//       })
//        // alert('Title: ' + calEvent.title);
//     // change the border color just for fun
//     // $(this).css('border-color', 'green');
//
// },
eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html("Title: "+event.title);
            $('#modalBody').html("<p>Start: "+event.start.format('MMM Do h:mm A')+"</p><p>End: "
            +event.end.format('MMM Do h:mm A')
            +"<p>Driver ID: "+event.driver_id+"</p>"
            +"<p>Vehicle ID: "+event.vehicle_id+"</p>"
            +"</p>");
            $('#fullCalModal').modal();
        }
      });


});

var lift_request=[],avail_fleet=[], avail_drivers=[], reqs_details=[];

</script>
