<style>

html, body {
	background: rgba(142, 142, 142, 1);
}
#form_container{
	box-shadow: 0px 10px 50px black;
	background: white;
	border-radius: 5px;
}

input:not([type=file]) {
	border: 2px solid #28a745;
	border-radius: 5px;
}
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" href="/">PointLift</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                      <li class="nav-item">
                              <a class="nav-link" href="about">About</a>
                      </li>
                       <li class="nav-item">
                              <a class="nav-link" href="contact">Contact Us</a>
                      </li>

              </ul>
      </div>
</nav>
<div class="container" id="form_container">

<h2>Bus Rental Request Form</h2>
<p>Please complete the online request form below, or download and print the
form and return to the Physical Plant Office via interoffice mail. The
Point Park University Vehicles are not equipped with car sear anchors, car
seats or booster seats. If a passenger requires a car seat and/or booster
seat (under 4 foot and 9 inches) please notify the Physical Plant Department
at (412) 392-3490. If you have any questions or concerns, please do not
hesitate to contact the Physical Plant Department.</p>

<h4>Disclaimer:</h4>

<p>This is only a request. Final Confirmation will be sent as a reply.
If you do not receive a confirmation> please contact the Physcial Plant
department at (412) 392-3490.</p>
  <form id="busform" action="bus_request" method="POST">

		<!-- Start and End Times of Trip: -->
<div class="row">
	<div class="col">
		<label for="start">Date and Time of Trip:</label>
		<input type="datetime-local" class="form-control" name="start"id="start">
	</div>
	<div class="col">
		<label for="end">End Date and Time of Trip:</label>
		<input type="datetime-local" class="form-control" name="end"id="end">
	</div>
</div>

<br>

<!-- Number of Expected Passengers and the Destination: -->
<div class="row">
	<div class="col">
		<label for="numPassengers">Number of Expected Passengers:</label>
		<input type="number" class="form-control" name="num_passengers" id="num_passengers">
	</div>
	<div class="col">
		<label for="destination">Destination:</label>
		<input type="text" class="form-control" name="destination" id="destination" placeholder="Destination">
	</div>
</div>

<br>

<!-- Departure Location/Arrival Location -->
<div class="row">
	<div class="col">
		<label for="departure_location">Departure Location:</label>
		<input type="text" class="form-control" name="departure_location" id="departure_location" placeholder="Departure Location">
	</div>
	<div class="col">
		<label for="arrival_location">Arrival Location:</label>
		<input type="text" class="form-control" name ="arrival_location" id="arrival_location" placeholder="Arrival Location">
	</div>
	<div class="col">
		<label for="estimate_arrival">Estimated Time of Arrival:</label>
		<input type="time" class="form-control" name="estimate_arrival" id="estimate_arrival">
	</div>
</div>

<br>

<!-- Hotel service? -->
<div class="form-group">
	<label for="hotel_service"> Will you be staying at a hotel? </label>
	<input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#hotel_service" aria-expanded="false" aria-controls="hotel_service" /> Yes
	<input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#hotel_service" aria-expanded="true" aria-controls="hotel_service"checked/> No
</div>
<div class="collapse" id="hotel_service">
	<div class="row">
		<div class="col">
			<label for="hotel_name">Hotel Name:</label>
			<input type="text" class="form-control" name="hotel_name" id="hotel_name" style="	border: 2px solid #28a745">
		</div>
		<div class="col">
			<label for="hotel_address">Hotel Address:</label>
			<input type="text" class="form-control" name="hotel_address" id="hotel_address" style="	border: 2px solid #28a745" placeholder="Address, City, State, ZIP">
		</div>
		<div class="col">
			<label for="hotel_num">Hotel Number:</label>
			<input type="text" class="form-control" name="hotel_num" id="hotel_num" style="	border: 2px solid #28a745">
		</div>
	</div>
	<div class="form-group">
		<label for="hotel_directions">Hotel Directions:</label>
		<textarea class="form-control" rows="2" name="hotel_directions" id="hotel_directions" style="	border: 2px solid #28a745"></textarea>
	</div>
</div>

<br>

<!--looping service-->
<div class="row">
	<div class="col">
		<label for="looplapse">Is looping service required?</label>
		<input name="collapseGroup2" type="radio" data-toggle="collapse" data-target="#looplapse" aria-expanded="false" aria-controls="looplapse" /> Yes
		<input name="collapseGroup2" type="radio" data-toggle="collapse" data-target="#looplapse" aria-expanded="true" aria-controls="looplapse" checked/> No
		<div class="collapse" id="looplapse">
			<div class="form-group" id="looplapse">
				<textarea class="form-control" rows="1" name="loop_service" id="loop_service" style="	border: 2px solid #28a745"></textarea>
			</div>
		</div>
	</div>
</div>

<!-- Date of Return Trip/Return Location: -->
<div class="row">
	<div class="col">
		<label for="return_time">Time of Return:</label>
		<input type="time" class="form-control" name="return_time" id="return_time">
	</div>
	<div class="col">
		<label for="return_location">Return Location:</label>
		<input type="text" class="form-control" name="return_location" id="return_location" placeholder="Return Location">
	</div>
</div>

<br>

<!-- Event Contact Person Name/Event Contact Person Phone Number -->
<div class="row">
	<div class="col">
		<label for="event_person">Event Contact Person's Name:</label>
		<input type="text" class="form-control" name="event_person" id="event_person" placeholder="Name">
	</div>
	<div class="col">
		<label for="event_person_num">Event Contact Person's Phone Number:</label>
		<input type="tel" class="form-control" name="event_person_num" id="event_person_num" placeholder="(123)456-7891">
	</div>
</div>

<br>

<!-- Authorized by and Requester's Email -->
<div class="row">
	<div class="col">
		<label for="auth_name">Authorized by:</label>
		<input type="text" class="form-control" name="auth_name" id="auth_name" placeholder="Name">
	</div>
	<div class="col">
		<label for="request_email">Requester's Email Address:</label>
		<input type="email" class="form-control" name="request_email" id="request_email" placeholder="name@example.com">
	</div>
</div>

<br>

<!-- Department and Division to be Charged: -->
<div class="row">
	<div class="col">
		<label for="request_department">Department Name:</label>
		<input type="text" class="form-control" name ="request_department" id="request_department" placeholder="Department Name">
	</div>
	<div class="col">
		<label for="budget_num">Department Budget to Charge:</label>
		<input type="text" class="form-control" name="budget_num" id="budget_num" placeholder="Department Budget Number">
	</div>
</div>

<br>

<!-- Additional Comments: -->
<div class="form-group">
	<label for="comment">Additional Comments or Concerns:</label>
	<textarea class="form-control" rows="1" name="comment" id="comment" style="	border: 2px solid #28a745"></textarea>
</div>

<br>

<button type="submit" class="btn btn-success">Submit<span class="fa fa-arrow-right"></span></button>

<br>



<p>Note: This form must be received by the Physical Plant Department
at least 10 business days prior to the date of the service is needed.
Cancellations must be sent via email to Jan Pekar, Director of
Transportation and Adminstrative services (jpekar@pointpark.edu)
within 48 hours prior to the requested service otherwise the
department may be billed accordingly.</p>

<br>
</div>
<br><br>

<!-- <div class="container" id="form_container">

<br> -->

<!-- <p style="color:red;">This Portion is only to be completed by the bus company</p>

<br> -->

<!-- <div class="row">
	<div class="col">
		<label for="bus_company">Bus Company Name:</label>
		<input type="text" class="form-control" name="bus_company" id="bus_company" placeholder="Company Name">
	</div>
	<div class="col">
		<label for="ref_num">Reference Number:</label>
		<input type="text" class="form-control" name="ref_num" id="ref_num" placeholder="Reference Number">
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<label for="bus_driver">Name of Bus Driver:</label>
		<input type="text" class="form-control" name="bus_driver" id="bus_driver" placeholder="First Last">
	</div>
	<div class="col">
		<label for="bus_num">Bus Number:</label>
		<input type="text" class="form-control" name="bus_num" id="bus_num" placeholder="">
	</div>
	<div class="col">
		<label for="bus_driver_phone">Bus Driver's Phone Number:</label>
		<input type="tel" class="form-control" name="bus_driver_phone" id="bus_driver_phone" placeholder="(123)456-7891">
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<label for="bus_phone">Bus Phone Number:</label>
		<input type="tel" class="form-control" name="bus_phone" id="bus_phone" placeholder="(123)456-7891">
	</div>
	<div class="col">
		<label for="emergency_contact">Emergency Contact Number:</label>
		<input type="tel" class="form-control" name="emergency_contact" id="emergency_contact" placeholder="(123)456-7891">
	</div>
</div> -->

<!-- <br> -->

<!-- <button type="submit" class="btn btn-success">Submit<span class="fa fa-arrow-right"></span></button> -->
</form>
</body>
