<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<title>Van Driver Request Form</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<style>
html, body {
	background: rgba(142, 142, 142, 1);
}
#form_container{
	box-shadow: 0px 10px 50px black;
	background: white;
	border-radius: 5px;
}


input:not([type=file]) {
	border: 2px solid #28a745;
	border-radius: 5px;
}

</style>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">PointLift</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                        </li>
                </ul>
</div>
</nav>

<br><br>

<div class="container" id="form_container">
<h2>Shuttle Driver Request Form</h2>

<body>


<p>Please complete the online request form below, or download and print the
form and return to the Physical Plant Office via interoffice mail. The
Point Park University Vehicles are not equipped with car sear anchors, car
seats or booster seats. If a passenger requires a car seat and/or booster
seat (under 4 foot and 9 inches) please notify the Physical Plant Department
at (412) 392-3490. If you have any questions or concerns, please do not
hesitate to contact the Physical Plant Department.</p>

<h5>Disclaimer:</h5>

<p>This is only a request. Final Confirmation will be sent as a reply.
If you do not receive a confirmation, please contact the Physcial Plant
department at (412) 392-3490.</p>
<form id="populate_form" method="POST">
	<div style="float: right">
		<label for="mod_form">Request ID</label>
		<input type="number" class="form-control" name="mod_form" id="mod_form">
		<button type="submit" class="btn btn-success">Retrieve Form<span class="fa fa-arrow-right"></span></button>
	</div>
</form>
<br><br><br><br><br>

<form id="driverform" action="/submit_request2" method="POST">


<!-- Start and End Times of Trip: -->
<div class="row">
	<div class="col">
		<label for="trip_start">Date and Time of Trip:</label>
		<input type="datetime-local" class="form-control" name="trip_start"id="trip_start">
	</div>
	<div class="col">
		<label for="trip_end">End Date and Time of Trip:</label>
		<input type="datetime-local" class="form-control" name="trip_end"id="trip_end">
	</div>
</div>

<br>

<!-- Number of Expected Passengers and the Destination: -->
<div class="row">
	<div class="col">
		<label for="num_passengers">Number of Expected Passengers:</label>
		<input type="number" class="form-control" name="num_passengers" id="num_passengers">
	</div>
	<div class="col">
		<label for="destination">Destination:</label>
		<input type="text" class="form-control" name="destination" id="destination" placeholder="Destination">
	</div>
</div>

<br>

<!-- Departure Location/Arrival Location -->
<div class="row">
	<div class="col">
		<label for="departure_location">Departure Location:</label>
		<input type="text" class="form-control" name="departure_location" id="departure_location" placeholder="Departure Location">
	</div>
	<div class="col">
		<label for="arrival_location">Arrival Location:</label>
		<input type="text" class="form-control" name ="arrival_location" id="arrival_location" placeholder="Arrival Location">
	</div>
</div>

<br>

<!-- Estimated Arrival and Time of Return -->
<div class="row">
	<div class="col">
		<label for="estimate_arrival">Estimated Time of Arrival:</label>
		<input type="time" class="form-control" name="estimate_arrival" id="estimate_arrival" placeholder="Arrival Time">
	</div>
	<div class="col">
		<label for="return_time">Time of Return:</label>
		<input type="time" class="form-control" name="return_time" id="return_time">
	</div>
</div>

<br>

<!-- loop service  & directions-->
<div class="row">
	<div class="col">
		<label for="looplapse">Is looping service required?</label>
		<input name="collapseGroup2" type="radio" data-toggle="collapse" data-target="#looplapse" aria-expanded="false" aria-controls="looplapse" /> Yes
		<input name="collapseGroup2" type="radio" data-toggle="collapse" data-target="#looplapse" aria-expanded="true" aria-controls="looplapse" checked/> No
		<div class="collapse" id="looplapse">
			<div class="form-group" id="looplapse">
				<textarea class="form-control" rows="1" name="loop_service" id="loop_service" style="	border: 2px solid #28a745"></textarea>
			</div>
		</div>
	</div>
	<div class="col">
		<label for="directions">Directions:</label>
		<textarea class="form-control" rows="1" name="directions" id="directions" style="	border: 2px solid #28a745"></textarea>
	</div>
</div>

<br>

<!--trip purpose-->
<div class="form-group">
	<label for="trip_purpose">What is the purpose of this trip?</label>
	<textarea class="form-control" rows="1" name="trip_purpose" id="trip_purpose" style="	border: 2px solid #28a745"></textarea>
</div>

<br>

<!-- Authorized by & Department Budget to Charge: -->
<div class="row">
	<div class="col">
		<label for="auth_name">Authorized by:</label>
		<input type="text" class="form-control" name="auth_name" id="auth_name" placeholder="Name">
	</div>
	<div class="col">
		<label for="budget_num">Department Budget to Charge:</label>
		<input type="text" class="form-control" name="budget_num" id="budget_num" placeholder="Budget Number">
	</div>
	<div class="col">
		<label for="request_email">Requester's Email Address:</label>
		<input type="email" class="form-control" name="request_email" id="request_email" placeholder="name@example.com">
	</div>
</div>

<br>

<!--Additional Comments-->
<div class="form-group">
	<label for="comment">Additional Comments or Concerns:</label>
	<textarea class="form-control" rows="1" name="comment" id="comment" style="	border: 2px solid #28a745"></textarea>
</div>

<br>

<button type="submit" class="btn btn-success">Submit<span class="fa fa-arrow-right"></span></button>

</form>

<br>

<p>Note: This form must be received by the Physical Plant Department
at least 5 business days prior to the date of the service is needed.
Cancellations must be sent via email to Jan Pekar, Director of
Transportation and Adminstrative services (jpekar@pointpark.edu)
within 48 hours prior to the requested service otherwise the
department may be billed accordingly. </p>

<br>
</div>
<br><br>

<script>
$(document).ready(function() {

	$("driverform").submit(function() {

		var formData = {
			'trip_start'           : $('input[name=trip_start]').val(),
			'trip_end'             : $('input[name=trip_end]').val(),
			'num_passengers'       : $('input[name=num_passengers]').val(),
			'destination'      	   : $('input[name=destination]').val(),
			'departure_location'   : $('input[name=departure_location]').val(),
			'arrival_location'     : $('input[name=arrival_location]').val(),
			'estimate_arrival'     : $('input[name=estimate_arrival]').val(),
			'return_time'          : $('input[name=return_time]').val(),
			'loop_service'         : $('input[name=loop_service]').val(),
			'directions'           : $('input[name=directions]').val(),
			'trip_purpose'         : $('input[name=trip_purpose]').val(),
			'auth_name'            : $('input[name=auth_name]').val(),
			'budget_num'           : $('input[name=budget_num]').val(),
			'request_email'        : $('input[name=request_email]').val(),
			'comment'              : $('input[name=comment]').val()
		};

		$.ajax({
			type        : 'POST',
			url         : '/submit_request2',
			data        : formData,
			dataType    : 'JSON',
		})
	})
})

$(document).ready(function() {
	$("#populate_form").submit(function(event) {
		console.log("submitform");

		$.ajax({
			type        : 'POST',
			url         : 'get_form_fields?mod_form='+$("#mod_form").val(),
			contentType: "application/json; charset=utf-8",
		}).done(function(data){
			console.log(JSON.stringify(data));
			//$("#trip_start").val(data.success[0].trip_start);
		  $("#trip_start").val(adjustDateFormat(data.success[0].trip_start));
			$("#trip_end").val(adjustDateFormat(data.success[0].trip_end));
			$("#num_passengers").val(data.success[0].num_passengers);
			$("#destination").val(data.success[0].destination);
			$("#departure_location").val(data.success[0].departure_location);
			$("#arrival_location").val(data.success[0].arrival_location);
			$("#estimate_arrival").val(adjustTimeFormat(data.success[0].estimate_arrival));
			$("#return_time").val(adjustTimeFormat(data.success[0].return_time));
			$("#loop_service").val(data.success[0].loop_service);
			$("#directions").val(data.success[0].directions);
			$("#trip_purpose").val(data.success[0].trip_purpose);
			$("#auth_name").val(data.success[0].auth_name);
			$("#budget_num").val(data.success[0].budget_num);
			$("#request_email").val(data.success[0].request_email);
			$("#comment").val(data.success[0].comment);
		}).fail(function(){
			console.log("fail");
		})
		return false;
	})
})

function adjustDateFormat(date_string){
  var date = new Date(date_string);
  var y = date.getFullYear();
  var m = date.getMonth();
  var day = date.getDate();
  var h = date.getHours();
  var min = date.getMinutes();
  var str = y+"-"+
  ((m+1)<10?"0"+(m+1):(m+1))
  +"-"+
  (day<10?"0"+day:day)+
  "T"+
  (h<10?"0"+h:h)+
  ":"+
  (min<10?"0"+min:min);
  return str;
}

function adjustTimeFormat(time_string) {
	console.log(time_string);
	return time_string.split(".")[0];
}
</script>
</body>
</html>
