<style>
body {
  background: url("img/p5.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
.glass{
  border: 1px solid black;
  background: rgba(0,0,0,.7);
  box-shadow: 0px 10px 50px black;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #fff;
  margin-top: 20%;
  height: 30vh;
}
/* .ctn{
  height: 90vh;
} */
.bloc{
  height: 100vh;
}
h3{
        border-radius: 25px;
        background-color: #07b048;
        /* background-color: #fff; */
        padding: 0.1em;
        /* color: #07b048; */
        color: #fff;
        border:1px solid #07b048;
        margin-top:10px;
}
</style>
<body>
  <div class="bloc">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="https://fkonat.it.pointpark.edu/pointlift/">Pointlift</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                  <!-- <li class="nav-item">
                      <a class="nav-link" href="register_page">Sign Up</a>
                  </li> -->
                </ul>
            </div>
        </nav>
        <div class="container-fluid error_div">
          {{#if errors}}
          {{#each errors}}
            <div class="alert alert-danger">
              <center>{{this.msg}}</center>
            </div>
          {{/each}}
          {{/if}}
        </div>
        <div class="row justify-content-center ctn">
          <div class="col-lg-4 reset">
            <div class="glass">
            <center><h3>Password Reset</h3></center>
                <div class="form-group">
                  <label for="email" class="cols-sm-2 control-label">Please Enter Your Email</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <button id="check_email" class="btn btn-success btn-lg login-button">Submit</button>
                </div>
            </div>
          </div>
        </div>

        <div class="modal fade password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color:#56ab2f;color:#fff">
                <h5 class="modal-title" id="exampleModalLabel">Hello <span id="user_first_name"></span></h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                  <!-- <span aria-hidden="true">&times;</span> -->
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <form id="reset_password" action="reset_password" method="post">
                      <input type="text" class="form-control" name="user_id" id="user_id"/>
                      <div class="form-group">
                        <label class="cols-sm-2 control-label">Please Enter New Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter Password"/>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="cols-sm-2 control-label">Please Re-Enter New Password</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <input type="password" class="form-control" name="reEnterPassword" id="reEnterPassword"  placeholder="Re-Enter Password"/>
                          </div>
                        </div>
                      </div>
                      <div class="form-group ">
                        <button type="submit" class="btn btn-success btn-lg login-button">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <script>
  var user_first_name;
    $(document).ready(function(){
      console.log("j is ready to go!");
    });
    $("#check_email").click(function(){
      $(".error_div").empty();
      var email_to_check = $("#email").val();
        $.ajax({
          type:"post",
          url:"find_user_email",
          data:{email:email_to_check},
          success: function(data){
            var results = data.success;
            if(results.length>0){
              console.log(results);
              $(".reset").hide();
              $("#user_first_name").html(results[0].first_name);
              $("#user_id").val(results[0].user_id);
              $(".password_modal").modal();
            }else{
              err_msg=$("<center><div class='alert alert-danger' role='alert'>We did not find your email. Pleas try again.</div></center>");
              $(".error_div").append(err_msg);
              // alert("there was a problem");
            }
          },
          error: function (textStatus, errorThrown) {
            alert("Request failed!");
          }
        });
    });
  </script>
</body>
