<style>
  body {
    background: url("img/p5.jpeg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
  }
 .jumbotron {
    background: rgba(13,13,13,.0);
    background: transparant;
    margin-top: 5%;
    /* color: #07b048; */
    color: #fff;
    /* border: 1px solid black; */
  }
  .box {
    padding-top: 5%;
    padding-bottom: 10px;
    border: 1px solid black;
    background: rgba(13,13,13,.7);
    box-shadow: 0px 10px 50px black;
  }
  html {
    position: relative;
    min-height: 100%;
  }

html {
   position: relative;
   min-height: 100%;
 }
 .schedules{
   /* border: 1px solid white; */
   margin-top: 5%;
 }
 .schedule_ctn{
   height: 600px;
 }
 .schedule_head{
   color: #fff;
 }
 .schedule_body{
   color: #249d3d;
 }

  </style>

  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">PointLift</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                        </li> -->
                </ul>
        </div>
</nav>
<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <div class="schedules">
      <div class="schedule_ctn box">
        <div class="schedule_head text-center">
          <h1>Shuttle Schedules</h1>
        </div>
        <div class="schedule_body">
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container box">
        <h1 class="display-4">PointLift</h1>
        <p class="lead">Introducing a New Way To Make Van Request</p>
        <a class="btn btn-outline-success btn-lg" href="/user">Van</a>
        <a class="btn btn-outline-success btn-lg" href="/user">Bus Rental</a>
        <a class="btn btn-outline-success btn-lg" href="/user">Van Driver</a>
      </div>
    </div>
  </div>
</div>
</div>

